# Dependencias
**/node_modules
**/venv
**/__pycache__
**/*.pyc
**/.env

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Build
dist/
build/
*.tar.gz