@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


.charts-grid {
  display: grid;
  gap: 14px;
  margin-bottom: 20px;
  grid-template-columns: 1fr; /* 1 columna en móvil */
}

@media (min-width: 768px) {
  .charts-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets/iPad */
  }
}

@media (min-width: 1100px) {
  .charts-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en computadores */
  }
}

/* Busca y actualiza esta parte en tu bloque STYLES */
@media (min-width: 1024px) { 
  .usr-sticky { 
    position: sticky; 
    top: 80px; /* Ajusta según el alto de tu navbar */
    z-index: 10;
  } 
}

/* Agregamos esto para que la tabla no se rompa en móviles */
.usr-table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}